:root {
  --white: #fafafa;
  --dark-background: #161b22;
  --light-gray: #c9d1d9;
  --gray: #333333;
  --sky-blue: #58a6ff;
  --blue: #0070f3;
  --light-electric-purple: #9e9eff;
  --purple: #6b4fbb;
  --bright-pink: #ff0080;
  --orange: #fc6d26;
  --yellow: #ffbd2e;
}
